.completed {
    text-decoration: line-through rgba(0, 0, 0, 0.4) !important;
}

.hide-completed .completed {
    display: none !important;
}
.hide-todo .todo:not(.completed) {
    display: none !important;
}